################################
# Slick Edit Project files
################################
*.vpj
*.vpw
*.vpwhistuxml
*.vpwwildcardcache

################################
# Deploy script (local only)
################################
deploy.ps1
deploy.cfg
